.create_package {
  background-color: var(--background-color-secondary);
  padding: 2rem 35rem 2rem 2rem;
}
.create_package__form {
  padding: 2rem 4rem;
  background-color: white;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.create_package__title {
  font-size: 5rem;
  align-self: flex-start;
}

.create_package__title2 {
  font-size: 4rem;
  font-weight: 400;
  padding: 1rem 1rem 0rem 1rem;
  color: white;
  background-color: var(--primary-color);
  width: f;
  border: 2px solid black;
}

.create_package__requiered {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  border: 2px solid black;
  border-top: 0px;
  padding: 2rem 2rem 2rem 2rem;
  margin-bottom: 3rem;
}

.create_package__divs {
  display: flex;
  flex-wrap: wrap;
  min-width: 200px;
  margin-bottom: 1rem;
}
.create_package__divs div {
  margin-bottom: 2rem;
  margin-right: 2rem;
  min-width: 200px;
}

.information_title {
  margin-top: 2rem;
  background-color: var(--secondary-color);
  font-size: 2.5rem;
  font-weight: 400;
  width: fit-content;
  padding: 0.5rem 1rem;
  border: 2px solid black;
  border-bottom: 1px;
}

.create_package input {
  font-size: 2rem;
  padding: 0.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.create_package input:disabled {
  color: black;
}

.create_package select:disabled {
  color: black;
  appearance: none;
}

.create_package select {
  width: 100%;
  border: 2px solid black;
  font-size: 2rem;
  padding: 0.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.texarea {
  width: 100%;
}

.create_package .texarea textarea {
  width: 100%;
  height: 10rem;
  font-size: 2rem;
  border: 2px solid black;
  padding: 0.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.create_package label {
  display: block;
  margin-right: 1rem;
  font-size: 2.5rem;
}

.btnregister {
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 400;
  padding: 1rem 2rem;
  border: 2px solid black;
  border-radius: 3rem;
  background-color: var(--primary-color);
  color: white;
  margin: 2rem 0rem 2rem 0rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.btncancel {
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 400;
  padding: 1rem 2rem;
  border: 2px solid black;
  border-radius: 3rem;
  background-color: var(--secondary-color);
  color: black;
  margin: 2rem 0rem 2rem 0rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.create_package form p {
  margin: 0.75rem;
  padding: 0.5rem;
  color: red;
  font-size: 1.75rem;
  width: fit-content;
  background-color: rgb(255, 203, 203);
  border: 1px solid red;
}
