* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  display: flex;
  flex-direction: column;
  font-family: "Hind Madurai", sans-serif, "Roboto", sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
}

.each_page {
  flex-grow: 1;
  background-image: url("../img/WallpaperVUELO.png");
  background-size: cover;
  background-repeat: no-repeat;
}

:root {
  --primary-color: #00ab6a;
  --secondary-color: #ff9344;
  --background-color: #ffffff;
  --background-color-secondary: #ebebeb;
}
