*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

main{
    font-size: 1.6rem;
}

:root{
    --primary-color: #00AB6A;
    --secondary-color: #FF9344;
    --background-color: #ffffff;
    --background-color-secondary: #EBEBEB;
}