.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  padding: 0.75rem 2rem;
}

.navbar__titulo {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.navbar__titulo h1 {
  font-family: 'Averia Serif Libre', cursive;
  font-size: 10rem;
  font-weight: 400;
}

.navbar__boton {
  cursor: pointer;
  font-weight: 600;
  background-color: var(--secondary-color);
  color: black;
  font-size: 2rem;
  padding: 2rem 3.5rem 2rem 3.5rem;
  border: 2px solid black;
  border-radius: 3rem;
  margin-left: 1rem; /* Ajusta el margen entre el título y el botón según sea necesario */
  transition: all 0.5s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar__boton:hover {
  background-color: white;
  border: 2px solid black;
  color: black;
  transition: all 0.5s ease;
}
