.registerclient {
  background-color: var(--background-color-secondary);
  padding: 2rem 35rem 2rem 2rem;
}
.registerclient__form {
  padding: 2rem 4rem;
  background-color: white;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.registerclient__title {
  font-size: 5rem;
  align-self: flex-start;
}

.registerclient__title2 {
  font-size: 4rem;
  font-weight: 400;
  padding: 1rem 1rem 0rem 1rem;
  color: white;
  background-color: var(--primary-color);
  border: 2px solid black;
}

.registerclient__requiered {
  background-color: var(--background-color-secondary);
  border: 2px solid black;
  border-top: 0px;
  padding: 0rem 2rem 2rem 2rem;
}

.information_title {
  margin-top: 2rem;
  background-color: var(--secondary-color);
  font-size: 2.5rem;
  font-weight: 400;
  width: fit-content;
  padding: 0.5rem 1rem;
  border: 2px solid black;
  border-bottom: 1px;
}

.registerclient__personal,
.registerclient__contact,
.registerclient__health,
.registerclient__security {
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  gap: 2rem;
  font-weight: 400;
  padding: 2rem;
  border: 2px solid black;
}

.registerclient__form input {
  font-size: 2rem;
  padding: 0.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.registerclient__form select {
  border: 1px solid black;
  font-size: 2rem;
  padding: 0.5rem;
  margin-right: 0.2rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.registerclient__form textarea {
  font-size: 2rem;
  border: 2px solid black;
  padding: 0.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.registerclient__form label {
  margin-right: 1rem;
  font-size: 2.5rem;
}

.registerclient__botones {
  display: flex;
  justify-content: space-between;
}

.aditional{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.btnregister {
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 400;
  padding: 1rem 2rem;
  border: 2px solid black;
  border-radius: 3rem;
  background-color: var(--primary-color);
  color: white;
  margin: 2rem 0rem 2rem 0rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.btncancel {
  cursor: pointer;
  font-size: 2.5rem;
  font-weight: 400;
  padding: 1rem 2rem;
  border: 2px solid black;
  border-radius: 3rem;
  background-color: var(--secondary-color);
  color: black;
  margin: 2rem 0rem 2rem 0rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
